PORT=3000
DATABASE_URL=postgresql://postgres.abcdefghijkl:TU-CLAVE@aws-0-sa-east-1.pooler.supabase.com:5432/postgres
DB_SSL=true
TEST_DATABASE_URL=postgres://postgres:postgres@localhost:5433/m9_test
ANTICIPACION_MINIMA_MINUTOS=60
ANTICIPACION_MAXIMA_DIAS=30
CORS_ORIGIN=*